* {
    font-family: sans-serif;
}

.container {
    margin: auto;
    width: max-content;
    box-shadow: #0000002a 1px 1px 3px;
}

body {
    background-color: #f0f0f0;
}
.rack {
    display: flex;
    justify-content: space-between;
}

button, .button {
    display: inline-block;
    border: 1px #bbb solid;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    margin: 0.25rem;
    background-color: #ccc;
    box-shadow: #0000002a 1px 1px 3px;
    text-decoration: none;
    color: #000;
}

button:active, .button:active {
    transform: translate(1px, 1px);
}